.sidebar
  .container.sidebar-sticky
    .sidebar-about
      h1.brand
        a(href="/") diego fraselle

      p.lead
        | escritor | viajero
    ul.sidebar-nav
      
      li
        a(href='/about') Acerca de mi

      li
        a(href='/help') Como ayudar

      li
        a(href="http://english.diegofraselle.com") In English
        
      
      
    p.footnote
      br
      |     © 2016 Diego Fraselle. Todos los derechos reservados